/* 显示滚动条 */
.show-scrollbars .scroll-pane {
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
}



/* tab修改标签样式 */
.tab-title-editable {
    -fx-fx-border-width: 0;
    -fx-max-width: 80px;
    -fx-max-height: 20px;
    -fx-font-size: 14px;
    -fx-padding: 2px 2px 2px 2px;
}

/*左侧边栏*/
.tool-horizontal-box {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -color-border-default;
}


.paragraph-box .has-caret {
    -fx-background-color: -color-neutral-muted
}

.line-number-text-area .paragraph-box .text {
    /*-fx-fill: -color-fg-default;*/
    /* -fx-font-size: 18px;*/
}

.lineno {
    -fx-background-color: -color-bg-default;
    /*-fx-padding: 0 10 0 0;*/
}