/* 显示滚动条 */
.show-scrollbars .scroll-pane {
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
}

/*!* 不显示滚动条 *!*/
/*.text-line-number .content {*/
/*    -fx-cursor: text;*/
/*    -fx-padding: 8px 1px 8px 5px;*/
/*}*/
.text-line-number .content {
    -fx-padding: 8px 1px 8px 5px;
}
.text-line-number .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.text-line-number .scroll-bar:horizontal {
    -fx-pref-height: 10;
    -fx-opacity: 0;
}

/* 主文本框区域样式 */
.main-text-area {
    -fx-border-color: white;
    -fx-background-color: white;
}

/* tab修改标签样式 */
.tab-title-editable {
    -fx-fx-border-width: 0;
    -fx-max-width: 80px;
    -fx-max-height: 20px;
    -fx-font-size: 14px;
    -fx-padding: 2px 2px 2px 2px;
}