target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
test/
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
### 此处忽略了json与xml后缀
*.xml
*.json

### 此处排除证书目录
certificate/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/JNotepad/
/src/main/JNotepad.java
/.idea/
!.idea/codeStyles/
!.idea/fileTemplates/
!.idea/encodings.xml
/project.txt
logs/
/ch_language_pack.txt
/en_language_pack.txt
/jnotepadConfig.json
/qodana.yaml
.mvn/
